<h1>About</h2>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails"%>
	is a project to teach
	<%= link_to "Ruby On Rails", "http://rubyonrails.org"%>
	in ONE month! This is the sample application.
</p>

